.article
	.partition-title Article of the day
	.comic-character
	article
		.heading
			.name-wrap
				a(href='').name fat <br> wars
			a(href='').meta-info MMM DD YYYY
		.foreword
			p It is a period of total obesity in the galaxy. Fitnerd training, striking from hidden bases at a 	local gym planet, have won their first victory against the evil Fatness Empire. During the battle, Fitnerd spies managed to steal secret plans for the Empire’s ultimate weapon, the DEAD FASTFOOD (<-place holder), armored with carbs and fats enough power to destroy an entire planet with diebitis, blood pressure, cancer and autoimmune disease.
			p Pursued by the Empire’s sinister agents, Fitnerd races home aboard his skateboard, custodian of the singular diet plan that can save his people and restore fitness of the galaxy.
			
		a(href='').more-btn read more
