.socials
	.left-edge
		.partition-title my socials!!!
		.social-item 
			a(href='https://www.instagram.com/fitnerd.nyc/') instagram
		.social-item 
			a(href='https://www.facebook.com/Fitnerd-1890848247817656/') facebook
		.social-item 
			a(href='') twitter
		.social-item 
			a(href='') youtube